<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/private/var/folders/dp/fc0pvnq15bv8kq227kp_cnfh0000gn/T/TemporaryItems/com.apple.Photos.NSItemProvider/uuid=88E88FCA-0DD4-4443-8797-A93AC4DCC5EF&amp;code=001&amp;library=1&amp;type=3&amp;mode=2&amp;loc=true&amp;cap=true.mov/IMG_1547.mov</key>
	<data>
	Ym9va0AEAAAAAAUQQAAAAO0A23uTU76+SgmqSOcpiJsg0Z+Rllj2HolWv9uN4F7XAAAA
	AAAAAAAAAAAAAgAAAEQDAAAEAAAAAwMAAAAIACgHAAAAAQEAAHByaXZhdGUAAwAAAAEB
	AAB2YXIABwAAAAEBAABmb2xkZXJzAAIAAAABAQAAZHAAAB4AAAABAQAAZmMwcHZucTE1
	YnY4a3EyMjdrcF9jbmZoMDAwMGduAAABAAAAAQEAAFQAAAAOAAAAAQEAAFRlbXBvcmFy
	eUl0ZW1zAAAfAAAAAQEAAGNvbS5hcHBsZS5QaG90b3MuTlNJdGVtUHJvdmlkZXIAYAAA
	AAEBAAB1dWlkPTg4RTg4RkNBLTBERDQtNDQ0My04Nzk3LUE5M0FDNERDQzVFRiZjb2Rl
	PTAwMSZsaWJyYXJ5PTEmdHlwZT0zJm1vZGU9MiZsb2M9dHJ1ZSZjYXA9dHJ1ZS5tb3YM
	AAAAAQEAAElNR18xNTQ3Lm1vdigAAAABBgAAEAAAACAAAAAsAAAAPAAAAEgAAABwAAAA
	fAAAAJQAAAC8AAAAJAEAAAgAAAAEAwAAuMcNCQAAAAAIAAAABAMAAF3JDQkAAAAACAAA
	AAQDAABTzA0JAAAAAAgAAAAEAwAA/GcAAAAAAAAIAAAABAMAAP1nAAAAAAAACAAAAAQD
	AAAAaAAAAAAAAAgAAAAEAwAABdgNCQAAAAAIAAAABAMAAACbEQkAAAAACAAAAAQDAAD9
	4BEJAAAAAAgAAAAEAwAA/uARCQAAAAAoAAAAAQYAAGgBAAB4AQAAiAEAAJgBAACoAQAA
	uAEAAMgBAADYAQAA6AEAAPgBAAAIAAAAAAQAAEHIG8jxixgnGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABByBa0ZYAAACQAAAABAQAANERBOTJCMTct
	OUJBNi00MzBBLUE1RUItMTZCOUFBQUZEQzQ4GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1
	YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkAtAAAAP7///8BAAAAAAAAAA4A
	AAAEEAAAOAEAAAAAAAAFEAAACAIAAAAAAAAQEAAASAIAAAAAAABAEAAAOAIAAAAAAAAC
	IAAA+AIAAAAAAAAFIAAAaAIAAAAAAAAQIAAAeAIAAAAAAAARIAAArAIAAAAAAAASIAAA
	jAIAAAAAAAATIAAAnAIAAAAAAAAgIAAA2AIAAAAAAAAwIAAABAMAAAAAAAAQ0AAABAAA
	AAAAAAAMAwCABAMAAAAAAAA=
	</data>
	<key>/private/var/folders/dp/fc0pvnq15bv8kq227kp_cnfh0000gn/T/TemporaryItems/com.apple.Photos.NSItemProvider/uuid=C3605E6E-CF3A-454A-A791-9FFBC249CBB0&amp;code=001&amp;library=1&amp;type=3&amp;mode=2&amp;loc=true&amp;cap=true.mov/IMG_1539.mov</key>
	<data>
	Ym9va0AEAAAAAAUQQAAAAK2U8gtr8pwxL8Ao0DTJ9we4izJZqHTR6MIRwBUZF0/vAAAA
	AAAAAAAAAAAAAgAAAEQDAAAEAAAAAwMAAAAIACgHAAAAAQEAAHByaXZhdGUAAwAAAAEB
	AAB2YXIABwAAAAEBAABmb2xkZXJzAAIAAAABAQAAZHAAAB4AAAABAQAAZmMwcHZucTE1
	YnY4a3EyMjdrcF9jbmZoMDAwMGduAAABAAAAAQEAAFQAAAAOAAAAAQEAAFRlbXBvcmFy
	eUl0ZW1zAAAfAAAAAQEAAGNvbS5hcHBsZS5QaG90b3MuTlNJdGVtUHJvdmlkZXIAYAAA
	AAEBAAB1dWlkPUMzNjA1RTZFLUNGM0EtNDU0QS1BNzkxLTlGRkJDMjQ5Q0JCMCZjb2Rl
	PTAwMSZsaWJyYXJ5PTEmdHlwZT0zJm1vZGU9MiZsb2M9dHJ1ZSZjYXA9dHJ1ZS5tb3YM
	AAAAAQEAAElNR18xNTM5Lm1vdigAAAABBgAAEAAAACAAAAAsAAAAPAAAAEgAAABwAAAA
	fAAAAJQAAAC8AAAAJAEAAAgAAAAEAwAAuMcNCQAAAAAIAAAABAMAAF3JDQkAAAAACAAA
	AAQDAABTzA0JAAAAAAgAAAAEAwAA/GcAAAAAAAAIAAAABAMAAP1nAAAAAAAACAAAAAQD
	AAAAaAAAAAAAAAgAAAAEAwAABdgNCQAAAAAIAAAABAMAAACbEQkAAAAACAAAAAQDAABs
	3xEJAAAAAAgAAAAEAwAAbd8RCQAAAAAoAAAAAQYAAGgBAAB4AQAAiAEAAJgBAACoAQAA
	uAEAAMgBAADYAQAA6AEAAPgBAAAIAAAAAAQAAEHIG8jPXEbYGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABByBa0ZYAAACQAAAABAQAANERBOTJCMTct
	OUJBNi00MzBBLUE1RUItMTZCOUFBQUZEQzQ4GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1
	YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkAtAAAAP7///8BAAAAAAAAAA4A
	AAAEEAAAOAEAAAAAAAAFEAAACAIAAAAAAAAQEAAASAIAAAAAAABAEAAAOAIAAAAAAAAC
	IAAA+AIAAAAAAAAFIAAAaAIAAAAAAAAQIAAAeAIAAAAAAAARIAAArAIAAAAAAAASIAAA
	jAIAAAAAAAATIAAAnAIAAAAAAAAgIAAA2AIAAAAAAAAwIAAABAMAAAAAAAAQ0AAABAAA
	AAAAAAAMAwCABAMAAAAAAAA=
	</data>
	<key>/private/var/folders/dp/fc0pvnq15bv8kq227kp_cnfh0000gn/T/TemporaryItems/com.apple.Photos.NSItemProvider/uuid=E3A1D049-CFD8-4916-AAAC-B152A12EC2AB&amp;code=001&amp;library=1&amp;type=3&amp;mode=2&amp;loc=true&amp;cap=true.mov/IMG_1546.mov</key>
	<data>
	Ym9va0AEAAAAAAUQQAAAACj2KsJg+VpuOOvLNRd3bpRQ98GEhteQMd2n4WCRgz7pAAAA
	AAAAAAAAAAAAAgAAAEQDAAAEAAAAAwMAAAAIACgHAAAAAQEAAHByaXZhdGUAAwAAAAEB
	AAB2YXIABwAAAAEBAABmb2xkZXJzAAIAAAABAQAAZHAAAB4AAAABAQAAZmMwcHZucTE1
	YnY4a3EyMjdrcF9jbmZoMDAwMGduAAABAAAAAQEAAFQAAAAOAAAAAQEAAFRlbXBvcmFy
	eUl0ZW1zAAAfAAAAAQEAAGNvbS5hcHBsZS5QaG90b3MuTlNJdGVtUHJvdmlkZXIAYAAA
	AAEBAAB1dWlkPUUzQTFEMDQ5LUNGRDgtNDkxNi1BQUFDLUIxNTJBMTJFQzJBQiZjb2Rl
	PTAwMSZsaWJyYXJ5PTEmdHlwZT0zJm1vZGU9MiZsb2M9dHJ1ZSZjYXA9dHJ1ZS5tb3YM
	AAAAAQEAAElNR18xNTQ2Lm1vdigAAAABBgAAEAAAACAAAAAsAAAAPAAAAEgAAABwAAAA
	fAAAAJQAAAC8AAAAJAEAAAgAAAAEAwAAuMcNCQAAAAAIAAAABAMAAF3JDQkAAAAACAAA
	AAQDAABTzA0JAAAAAAgAAAAEAwAA/GcAAAAAAAAIAAAABAMAAP1nAAAAAAAACAAAAAQD
	AAAAaAAAAAAAAAgAAAAEAwAABdgNCQAAAAAIAAAABAMAAACbEQkAAAAACAAAAAQDAADl
	4BEJAAAAAAgAAAAEAwAA5uARCQAAAAAoAAAAAQYAAGgBAAB4AQAAiAEAAJgBAACoAQAA
	uAEAAMgBAADYAQAA6AEAAPgBAAAIAAAAAAQAAEHIG8jyFTzdGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABByBa0ZYAAACQAAAABAQAANERBOTJCMTct
	OUJBNi00MzBBLUE1RUItMTZCOUFBQUZEQzQ4GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1
	YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkAtAAAAP7///8BAAAAAAAAAA4A
	AAAEEAAAOAEAAAAAAAAFEAAACAIAAAAAAAAQEAAASAIAAAAAAABAEAAAOAIAAAAAAAAC
	IAAA+AIAAAAAAAAFIAAAaAIAAAAAAAAQIAAAeAIAAAAAAAARIAAArAIAAAAAAAASIAAA
	jAIAAAAAAAATIAAAnAIAAAAAAAAgIAAA2AIAAAAAAAAwIAAABAMAAAAAAAAQ0AAABAAA
	AAAAAAAMAwCABAMAAAAAAAA=
	</data>
	<key>/private/var/folders/dp/fc0pvnq15bv8kq227kp_cnfh0000gn/T/TemporaryItems/com.apple.Photos.NSItemProvider/uuid=F7A623C3-3B49-43A3-A816-C7EEE93E03C7&amp;code=001&amp;library=1&amp;type=3&amp;mode=2&amp;loc=true&amp;cap=true.mov/IMG_1540.mov</key>
	<data>
	Ym9va0AEAAAAAAUQQAAAAF8jmYUjieco5BnUjbhpS75F3jchMp2xknzFbzWLw6r6AAAA
	AAAAAAAAAAAAAgAAAEQDAAAEAAAAAwMAAAAIACgHAAAAAQEAAHByaXZhdGUAAwAAAAEB
	AAB2YXIABwAAAAEBAABmb2xkZXJzAAIAAAABAQAAZHAAAB4AAAABAQAAZmMwcHZucTE1
	YnY4a3EyMjdrcF9jbmZoMDAwMGduAAABAAAAAQEAAFQAAAAOAAAAAQEAAFRlbXBvcmFy
	eUl0ZW1zAAAfAAAAAQEAAGNvbS5hcHBsZS5QaG90b3MuTlNJdGVtUHJvdmlkZXIAYAAA
	AAEBAAB1dWlkPUY3QTYyM0MzLTNCNDktNDNBMy1BODE2LUM3RUVFOTNFMDNDNyZjb2Rl
	PTAwMSZsaWJyYXJ5PTEmdHlwZT0zJm1vZGU9MiZsb2M9dHJ1ZSZjYXA9dHJ1ZS5tb3YM
	AAAAAQEAAElNR18xNTQwLm1vdigAAAABBgAAEAAAACAAAAAsAAAAPAAAAEgAAABwAAAA
	fAAAAJQAAAC8AAAAJAEAAAgAAAAEAwAAuMcNCQAAAAAIAAAABAMAAF3JDQkAAAAACAAA
	AAQDAABTzA0JAAAAAAgAAAAEAwAA/GcAAAAAAAAIAAAABAMAAP1nAAAAAAAACAAAAAQD
	AAAAaAAAAAAAAAgAAAAEAwAABdgNCQAAAAAIAAAABAMAAACbEQkAAAAACAAAAAQDAACX
	3xEJAAAAAAgAAAAEAwAAmN8RCQAAAAAoAAAAAQYAAGgBAAB4AQAAiAEAAJgBAACoAQAA
	uAEAAMgBAADYAQAA6AEAAPgBAAAIAAAAAAQAAEHIG8jO9boKGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABByBa0ZYAAACQAAAABAQAANERBOTJCMTct
	OUJBNi00MzBBLUE1RUItMTZCOUFBQUZEQzQ4GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAC8AAAABAQAATlNVUkxCb29rbWFya1F1
	YXJhbnRpbmVNb3VudGVkTmV0d29ya1ZvbHVtZXNLZXkAtAAAAP7///8BAAAAAAAAAA4A
	AAAEEAAAOAEAAAAAAAAFEAAACAIAAAAAAAAQEAAASAIAAAAAAABAEAAAOAIAAAAAAAAC
	IAAA+AIAAAAAAAAFIAAAaAIAAAAAAAAQIAAAeAIAAAAAAAARIAAArAIAAAAAAAASIAAA
	jAIAAAAAAAATIAAAnAIAAAAAAAAgIAAA2AIAAAAAAAAwIAAABAMAAAAAAAAQ0AAABAAA
	AAAAAAAMAwCABAMAAAAAAAA=
	</data>
</dict>
</plist>
